/*Start Variable*/
:root {
    --main-color:#10cab7;
    --main-back-color: #f6f6f6;
    --Secondary-color: #2c4755;
    --section-padding: 60px;
    
}
/*End Variable*/
/* Start Global rules */
* {
    webkit-box-sizing: border-box ;
    moz-box-sizing: border-box;
    box-sizing: border-box;

}
body {
    font-family: "Work Sans", sans-serif;
}
/* Start Media Queries */
/* for small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* for medium */    
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* for large */    
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Media Queries */
/*Start Components*/
.spacial-heading {
    color: #ebeceb;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.spacial-heading +p {
    text-align: center;
    margin: -30px 0 ;
    font-size: 20px;
    font-weight: 800;
    color: #797979;
}
@media (max-width: 767px) {
    .spacial-heading {
        font-size: 60px;
    }
    .spacial-heading+p {
        margin: -16px;
    }
}
/*End Components*/
.container {
    margin:auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}   
/* End Global rules */
/* Start Header*/
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 70px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;
}
.header .links .icon span {
    margin-bottom: 5px;
    background-color: #333;
    height: 2px; 
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.4s;
}
.header .links .icon span:last-child {
    width: 100%;
} 
.header .links ul {
    background-color: var(--main-back-color);
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 10px);
    z-index: 1;
    display: none;
}
.header .links ul::before {
    content: "";
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent var(--main-back-color) transparent;
    position: absolute;
    right: 2px;
    top: -30px;
}
.header .links:hover ul  {
    display: block;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul li:hover a {
    padding-left:30px ;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #DDD;
}
/* End Header*/

/*Start Landing section*/
.landing {
    background-image: url(/image/3899617.jpg.crdownload);
    background-size: cover;
    height: calc(100vh - 68px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    color: var(--main-color);
    font-weight: 800;
    font-size: 50px;
    margin: 0;
}
.landing .intro-text p {
    line-height: 2;
    font-size: 19px;
}
/*End Landing section*/
/*Start Features*/
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-back-color);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap:20px ;
}
.features .feat {
    text-align:center;
    padding: 20px;
}
.features .feat i {
    color: var(--main-color);
    padding: 0px;
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
    font-size: 20px;
}
.features .feat p {
    line-height: 1.8;
    font-size: 17px;
    color: #777;
}
/*End Features*/
/*Start services*/
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .services .services-content .srv {
        display: flex;
        flex-direction: column;
        text-align: center; 
    }
}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv h3 {
    margin: 0 0 20px;
}
.services .services-content .srv p {
    color: #444;
    line-height: 1.6;
    font-weight: 300;
}
.services .services-content .image {
    position: relative;
} 
.services .services-content .image::before {
    position: absolute;
    content: "";
    background-color: var(--Secondary-color);
    right: 50px;
    width: 100px;
    height:calc(100% + 100px) ;
    top: -50px;
    z-index: -1;
}
.services .services-content img {
    width: 260px;
}
@media (max-width:1199px) {
    .services .services-content .image,.image-column {
        display: none;
    }  
} 
/*End services*/
/*Start Portfolio*/
.Portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-back-color);
}
.Portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.Portfolio .portfolio-content .card {
    background-color: white;
}
.Portfolio .portfolio-content .card img {
    max-width: 100%;
}
.Portfolio .portfolio-content .card .info {
    padding: 20px;
}
.Portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.Portfolio .portfolio-content .card .info p {
    line-height: 1.6;
    color: #777;
    margin-bottom: 0;
}
/*End Portfolio*/
/*Start About*/
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content  {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px) {
    .about .about-content  {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    /*=>For div..Because the size of image is 250px by default */ width: 250px;
    /*=>For div..Because the size of image is 375px by default */ height: 375px; 
}
.about .about-content img {
    /*This Width is given in relation to image div (250px)*/width: 100%;
}
@media (max-width: 991px) {
    .about .about-content .image { 
        margin: 0 auto 60px;
}
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    z-index: -1;
    left: -20px;
}
.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    right: -140px;
    top: -40px;
    z-index: -1;
}
@media (max-width:991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content p:first-of-type {
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 40px;
}
.about .about-content .text hr {
    border-color: var(--main-color);
    width: 50%;
    display: inline-block;
    font-weight: bold;
}
.about .about-content .text p:last-of-type {
    font-weight: 300;
    line-height: 1.6;
    color: #777;
}
/*End About*/
/*Start Contact*/
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-back-color);
}
.contact .contact-content {
    

}

.contact .info {
    text-align: center;
    margin-top: 100px;
}
.contact .info .label {
    color: var(--Secondary-color);
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 800;
    margin-bottom: 15px;
}
@media (max-width:767px) {
    .contact .info .label {
        font-size: 25px;
    }
}
.contact .info a  {
    text-decoration: none;
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
    display: block;
}
@media (max-width:767px) {
    .contact .info a {
        font-size: 30px;
    }
}
.contact .Social {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.contact .Social i {
    margin-left: 10px;
}
/*End Contact*/
/*Start Footer*/
.footer {
    background-color: var(--Secondary-color);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    text-align: center;
}
.footer span {
    color: var(--main-color);
    font-weight: bold;
}
/*End Footer*/
